@mixin font-face ($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

// text-info
@mixin text-info () {
  color: $color-primary;
  font-weight: 700;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  text-transform: lowercase;
  display: block;
  margin-bottom: 4px;
}

//Заголовки h2
@mixin title-h2 ($margin-bottom) {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin-bottom: $margin-bottom;
}

//Заголовки h2 (768)
@mixin title-h2-768 ($margin-bottom) {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
  margin-bottom: $margin-bottom;
}

//Изображания в карточках advantages-card
@mixin advantages-card-img ($advantages-card-url) {
  background-image: $advantages-card-url;
  background-size: 52px 56px;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

//Иконка для соц сетей
@mixin social-list__link ($mask-image-url) {
  &::before {
    content: "";
    display: block;
    padding: 2px auto;
    width: 22px;
    height: 22px;
    background-color: #bdbdbd;
    mask-image: $mask-image-url;
  }
}
