/* здесь используйте глобальные переменные */
$basic-font	: "Montserrat", sans-serif;
$color-flat-white: #f3ebe1;
$color-primary: #7859cf;
$color-black: #333333;
$color-white: #ffffff;
$color-backgroung-light: #f8f8f8;
