.advantages__container {
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 100px;
  }
}

.advantages__title-info {
  @include text-info ();
}

.advantages__title {
  @include title-h2 (36px);

  @media (min-width: 768px) {
    @include title-h2-768 (60px);
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 338px 338px;
    gap: 50px 30px;
  }
}
