.button {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $color-white;
  display: inline-block;
  border: none;
  padding: 8px 20px;
  background-color: $color-primary;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: #9070ec;
  }

  &:active {
    background-color: #593cac;
  }

  &:disabled {
    background-color: #bdbdbd;
  }
}

.button--light {
  color: $color-primary;
  background-color: $color-white;

  &:hover,
  &:focus {
    background-color: #9070ec;
    color: #ffffff;
  }

  &:active {
    background-color: #593cac;
    color: #ffffff;
  }

  &:disabled {
    background-color: #e2e2e2;
    color: #ffffff;
  }
}
