.catalog {
  background-color: $color-backgroung-light;
}

.catalog__container {
  padding-top: 50px;
  padding-bottom: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  @media (min-width: 1440px) {
    padding-top: 100px;
    padding-bottom: 120px;
    display: grid;
    grid-template-columns: 348px 1012px;
    grid-template-rows: auto auto auto auto auto;
  }
}

.catalog__filters {
  margin: 0 auto;

  @media (min-width: 768px) {
    margin-bottom: 44px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 0;
    display: inline-block;
    grid-column: 1/2;
    grid-row: 3/6;
  }
}


.catalog__form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 222px 222px 222px;
    grid-template-rows: 1fr auto;
    gap: 40px 30px;
  }

  @media (min-width: 1440px) {
    display: flex;
    gap: 30px;
    margin-right: 30px;
  }
}

.catalog__title-info {
  @include text-info ();

  @media (min-width: 1440px) {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}

.catalog__title {
  @include title-h2 (20px);

  @media (min-width: 768px) {
    @include title-h2-768 (20px);
  }

  @media (min-width: 1440px) {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-bottom: 40px;
  }
}

.catalog__sorting {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    justify-content: end;
    margin-bottom: 30px;
  }

  @media (min-width: 768px) {
    margin-bottom: 28px;
  }
}

.catalog__sorting-title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.7px;

  @media (min-width: 768px) {
    margin-right: 20px;
  }
}


.catalog__sorting-list {
  background-color: $color-backgroung-light;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: $color-primary;
  text-transform: lowercase;
  padding-right: 10px;
  border: none;
  outline: 0;

  &:hover,
  &:focus {
    background-color: #f0ebff;
    border-radius: 4px;
  }

  &:active {

  }
}

.catalog__cards {
  margin: 0 auto;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 349px 349px;
    gap: 30px;
    margin-bottom: 70px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 60px;
    grid-template-columns: 317px 317px 317px;
  }
}

.catalog__button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 44px;

  @media (min-width: 768px) {
    grid-column: 1/4;
    flex-direction: row;
    gap: 18px;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    margin: 0;
    margin-bottom: 0;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
}

.catalog__button {
  height: 40px;
  letter-spacing: 1px;

  @media (min-width: 768px) {
    letter-spacing: 1.5px;
  }

  @media (min-width: 1440px) {
    width: 100%;
  }
}

.catalog__pagination {
  margin: 0 auto;

  @media (min-width: 768px) {
    margin: 0;
  }
}
