.hero {
  background-color: $color-flat-white;
  min-width: 280px;

  @media (min-width: 768px) {
    background-image: linear-gradient($color-flat-white 75%, #ffffff 25%);
  }
}

.hero__container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    padding-top: 60px;
  }
}

.hero__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.hero__title-info {
  @include text-info ();

  @media (min-width: 768px) {
    order: -4;
  }
}

.hero__title {
  margin: 0;
  color: $color-black;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-bottom: 10px;
  display: block;

  @media (min-width: 768px) {
    order: -3;
    font-size: 56px;
    line-height: 80px;
    width: 610px;
    margin-bottom: 16px;
  }
}

.hero__text {
  margin: 0;
  text-align: center;
  display: block;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    order: -2;
    font-size: 20px;
    line-height: 32px;
    width: 610px;
  }
}

.hero__price {
  width: 230px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    order: -1;
    margin-bottom: 20px;
  }
}

.hero__price-old {
  color: $color-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-decoration: line-through;
  margin-right: 6px;
}

.hero__price-new {
  color: $color-black;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.hero__price-button {
  margin-left: 20px;
  text-decoration: none;
  min-width: 113px;
}
