.main-header__logo-link {
  margin: 0;
  text-decoration: none;
}

.main-header__user {
  display: block;
  width: 22px;
  height: 22px;
  padding: 20px;
  //background-image: url("../../icons/user-nav-mobile.svg");
}
