.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
}

.main-header__container-nav {
  display: flex;
  align-items: center;
}

.main-header__logo-link {
  margin: 0;
  text-decoration: none;
}


.main-header__basket {
  display: block;
  width: 60px;
  height: 60px;
  padding: 20px;
  background-image: url("../../icons/basket-nav-mobile.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.main-header__user {
  display: block;
  width: 60px;
  height: 60px;
  padding: 20px;
  background-image: url("../../icons/user-nav-mobile.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.main-header__toggle {
  border: none;
  width: 60px;
  height: 60px;
  padding: 20px;
  background-color: #ffffff;
  background-image: url("../../icons/burger-nav-mobile.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 768px) {
    display: none;
  }
}

.main-header__list {
  margin: 0;
  padding: 0;
  display: none;
  list-style: none;


  @media (min-width: 768px) {
    display: flex;
  }
}

.main-header__link {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: $color-black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
}

.main-header__item--current .main-header__link {
  @media (min-width: 768px) {
    color: $color-primary;
    border-bottom: 2px solid $color-primary;
  }
}
