.product-card {
  display: grid;
  grid-template-columns: auto 141px;
  grid-template-rows: 212px auto 1fr 36px;
  grid-column: 1/3;
  width: 280px;
  min-height: 420px;
  padding: 40px 20px 20px;
  margin: 0 auto;
  background-color: #ffffff;

  @media (min-width: 768px) {
    width: 349px;
    min-height: 440px;
    grid-template-rows: 218px auto 1fr 36px;
  }

  @media (min-width: 1440px) {
    width: 317px;
  }
}

.product-card__img-link {
  grid-column: 1/3;
  margin: 0 auto;
}

.product-card__title-link {
  margin: 0;
  padding: 0;
  grid-column: 1/3;
  text-decoration: none;
}

.product-card__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.6px;
  color: $color-black;
  margin-bottom: 4px;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}

.product-card__description {
  margin: 0;
  padding: 0;
  grid-column: 1/3;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    margin-bottom: 20px;
  }
}

.product-card__cost {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.product-card__button {
  font-size: 14px;
  line-height: 20px;
  position: relative;
  padding: 8px 20px 8px 46px;
  text-align: start;
  letter-spacing: 1px;
}

.product-card__button::before {
  content: "";
  width: 20px;
  height: 16px;
  background-image: url ("../../icons/catalog-basket.svg");
  position: absolute;
  left: 20px;
}
