.range-cost {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.range-cost__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 30px;

  @media (min-width: 1440px) {
    margin-bottom: 28px;
  }
}


.range-cost__inputs {
  min-width: 280px;
  display: flex;
  grid-template-columns: auto auto auto;
  gap: 18px;
  margin-top: 36px;

  @media (min-width: 768px) {
    margin-top: 32px;
    gap: 20px;
  }
}

.range-cost__control-input-cost {
  padding: 6px 10px;
  border: 2px solid $color-primary;
  border-radius: 4px;
  width: 118px;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;


  @media (min-width: 768px) {
    width: 87px;
  }

  @media (min-width: 1440px) {
    width: 134px;
  }
}

.range-cost__saparatop {
  width: 8px;
  height: 2px;
  background-color: #bdbdbd;
  margin: auto 0;
}


//Ползунок цены
.scale__range-toggle {
  content: "";
  background-color: #ffffff;
  border: 2px solid $color-primary;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
}

.scale__range-toggle--min {
  position: absolute;
  left: -11px;
  top: -11px;
}

.scale__range-toggle--max {
  position: absolute;
  left: 226px;
  top: -11px;

  @media (min-width: 768px) {
    left: 168px;
  }

  @media (min-width: 1440px) {
    left: 264px;
  }
}

.range-cost__scale {
  position: relative;
  width: 280px;
  height: 2px;
  background-color: #e2e2e2;
  left: 10px;

  @media (min-width: 768px) {
    width: 223px;
  }

  @media (min-width: 1440px) {
    width: 318px;
  }
}

.scale__range-bar {
  position: absolute;
  height: 4px;
  background-color: $color-primary;
  width: 241px;

  @media (min-width: 768px) {
    width: 192px;
  }

  @media (min-width: 1440px) {
    width: 274px;
  }
}
