.selection-country {
  margin: 0;
  padding: 0;
  border: none;
}

.selection-country__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.selection-country__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.selection-country__item {
  margin-left: 42px;
}

.selection-country__item:not(:last-child) {
  margin-bottom: 20px;
}

.selection-country__control-mark {
  position: relative;
}

.selection-country__control {
  position: relative;
  display: block;
  padding-left: 10px;
}

.selection-country__control-mark::before {
  content: "";
  position: absolute;
  left: -52px;
  width: 42px;
  height: 24px;
  background-color: #bdbdbd;
  border-radius: 12px;
}

.selection-country__control-mark::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: -50px;
}

.selection-country__control-input[type="checkbox"]:checked + .selection-country__control-mark::before {
  content: "";
  background-color: $color-primary;
  position: absolute;
  left: -52px;
  width: 42px;
  height: 24px;
  border-radius: 12px;
}

.selection-country__control-input[type="checkbox"]:checked + .selection-country__control-mark::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: -32px;
}

.selection-country__control-input[type="checkbox"]:disabled + .selection-country__control-mark::before {
  background-color: #e2e2e2;
  border: none;
}

.selection-country__control-label {
  font-size: 16px;
  line-height: 24px;
}
