.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 39px;
}

.social-list__link--vk {
  @include social-list__link (url("../../icons/stack.svg#social-list-vk"));
}

.social-list__link--pinterest {
  @include social-list__link (url("../../icons/stack.svg#social-list-pinterest"));
}

.social-list__link--ok {
  @include social-list__link (url("../../icons/stack.svg#social-list-ok"));
}
